// font sizes
$base-font-size: 1.6rem;
$large-font-size: 2.4rem;

// fonts
$primary-font-family: Helvetica, Arial, sans-serif;

// Size
$space: 1.4rem;
$large-space: 2.4rem;
$site-max-width: 100rem;

// Colors
$lightGray: #dddddd;
$primary-color: #88C440;
$secondary-color: #616466;

// Header
$header-bg: $primary-color;
$header-font-color: white;
$header-height: 6rem;

// Form Inputs
$input-border: $lightGray;
$input-spacing: 1rem;

// Boxed View
$boxed-view-overlay-bg: $lightGray;

// Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc( #{ $site-max-width } - #{ $page-content-sidebar-width } );
$page-content-height: calc(100vh - #{ $header-height });
